.t{
    color: white;
    background-color: black;
}
.r{
    color: black;
    background-color: white;
}
.u{
    color: white;
    background-color: black;
}
.i{
    color: black;
    background-color: white;
}
.o{
    color:white;
    background-color: black;
}
.p{
    color: black;
    background-color:white;
}
.hh{
    color: blueviolet;
}
.jj{
    color:brown
}